
<div class="container">
	<div class="row">
		<div class="span4"></div>
		<div class="span4">
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th>昵称</th>
					<th>通过题数</th>
					<th>错误累计时间</th>
					<th>排名次数</th>
					<!--<th>A时间</th>
                    <th>A提交错误次数</th>
                    <th>B时间</th>
                    <th>B提交错误次数</th>
                    <th>C时间</th>
                    <th>C提交错误次数</th>
                    <th>D时间</th>
                    <th>D提交错误次数</th>
                    <th>E时间</th>
                    <th>E提交错误次数</th>
                    <th>F时间</th>
                    <th>F提交错误次数</th>
                    <th>G时间</th>
                    <th>G提交错误次数</th>
                    <th>H时间</th>
                    <th>H提交错误次数</th>-->
				</tr>
				<% var body={%> <% for(rank in ranklist) {%>
				<tr>
					<td>${rank.nick}</td>
					<td>${rank.accepts}</td>
					<td>${rank.penalty}</td>
					<td>&nbsp;</td>
					<!--<% for(var i=0;i< num;i++){%>
                    <% var time=so.getRankTime(i);var wrong=so.getRankWrong(i);%>
                    <td>${rank[time] }</td>
                    <td>${rank[wrong] }</td>
                    <%}%>-->
				</tr>
				<%}%>
			</table>
		</div>
		<div class="span4"></div>
	</div>
</div>
<%}; include("commons/_contest_layout.html",{body:body}){}%>
