<% var body={%>
<div class="container" ng-controller="ProblemCtrl">
	<div class="row">
		<div class="span12">
			<div class="hero-unit">
				<h1>ACM队简介</h1>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;ACM国际大学生程序设计竞赛（简称ACM/ICPC）是由国际计算机界历史最悠久、
					最具权威性组织ACM学会主办，
					是世界上公认的规模最大、水平最高的国际大学生程序设计竞赛，
					其目的指在使大学生运用计算机来充分展示个人分析问题和解决问题的能力。
					ACM崇尚创意、创新，对于当代大学生有着非常强烈的吸引力。
					比赛题目需要选手具有较强的逻辑思维能力、实际应用能力及创新能力。
					因历届竞赛都芥蒂了世界各大洲的精英，云集了计算机界的“希望之星”而受到国际各知名大学的重视，
					并受到全世界各著名计算机公司如Microsoft，IBM等的高度关注，成为世界各国大学生最具影响力的国际级计算机类的赛事，
					ACM所颁发的获奖证书也为世界各著名计算机公司、各知名大学所认可。
				</p>
				<p>
					<a class="btn btn-primary btn-large">了解更多</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h1>解题状态说明</h1>
			<ul>
				<li><a href="#" title="程序的输出数据是正确的，也就是你成功地解出了这个问题">Accept</a></li>
				<li><a href="#" title="算是Accept（你的输出数据正确，但格式上有点小误差，例如多了一些空格或者空白行之类的）">Aceept(P.E.) (Presentation Error)</a></li>
				<li><a href="#" title="你的程序成功的执行结束，但输出的数据没有完全正确">Wrong Answer</a></li>
				<li><a href="#" title="目前 Judge 所限的时间是十秒（疑问：但是兔子所见到的一般都是 1000 ms 呢？），也就是你的程序在十秒后还没执行结束">Time Limit Exceeded(TL)</a></li>
				<li><a href="#" title="内存的使用量超过系统限制">Memory Limit Exceeded (ML)</a></li>
			</ul>
		</div>
		<div class="span6">
			<h1>解题状态说明</h1>
			<ul>
				<li><a href="#" title="输出的数据太大，超过限制">Output Limit Exceeded (OL)</a></li>
				<li><a href="#" title="编译错误．系统是使用 Linux 架的，所以 C/C++ 的编译器当然就是 gcc 啦">Compile Error (CE)</a></li>
				<li><a href="#" title="题号，使用者ID，使用语言没填好，系统无法得知相关信息">Submission Error (SE)</a></li>
				<li><a href="#" title="程序编译正确，但执行时发生错误，通常是内存使用错误，像程序中除以 0，或是用到不可用的内存（比如存取超过范围的数组元素）">Runtime Error(SIGSEGV)</a></li>
				<li><a href="#" title="你的程序有使用到系统限制的函式(如开启档案)，或system (…)">Restricted Function (RF)</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div style="margin: 20px;padding: 10px;background: #df8505">
				每天想一想
			</div>
		</div>
		<div class="span4">
			<div style="margin: 20px;padding: 10px;background: #df8505">
				逻辑走出来
			</div>
		</div>
		<div class="span4">
			<div style="margin: 20px;padding: 10px;background: #df8505">
				题目做出来
			</div>
		</div>
	</div>
</div>
<%}; include("commons/_layout.html",{body:body}){}%>
