<% var body={%>
<div class="container">
	<div class="span6">
		<form class="form-horizontal" action="${contentPath}/submit"
			method="post">
			<div class="control-group">
				<label class="control-label">题目序号:</label>
				<div class="controls">
					<input name="pid" type="text" value="${pid}" />
				</div>
				<div class="control-group">
					<label class="control-label">语言:</label>
					<div class="controls">
						<select id="select" size="1" name="language" style="width: 100px;">
							<% for(lang in langs){ %>
							<option value="${langLP.index-1}">${lang}</option>
							<%}%>
						</select>
					</div>
				</div>
			</div>
			<textarea name="code" rows="15" cols="200"></textarea>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>
</div>

<%}; include("commons/_layout.html",{body:body}){}%>
