<% var body={%>
<div class="container">
	<div class="row">
		<h1>关于我们</h1>
		<div class="span6">
			<h4>系统技术说明</h4>
			<ul>
				<li style="padding: 10px 10px;"><a href="#">后台框架:Spring+SpringMVC+Mybatis+Shiro</a></li>
				<li style="padding: 10px 10px;"><a href="#">前台模板:bootstrap+anjular+beetl</a></li>
				<li style="padding: 10px 10px;"><a href="#">后台:easy-ui</a></li>
				<li style="padding: 10px 10px;"><a href="#">后台:easy-ui</a></li>
			</ul>
		</div>
		<div class="span6">
			<h1>资料技术</h1>
			<ul>
				<li style="padding: 10px 10px;"><a href="http://www.ibeetl.com/">beetl模板</a></li>
				<li style="padding: 10px 10px;"><a href="http://www.ibeetl.com/">beetl模板</a></li>
				<li style="padding: 10px 10px;"><a href="http://www.ibeetl.com/">beetl模板</a></li>
				<li style="padding: 10px 10px;"><a href="http://www.ibeetl.com/">beetl模板</a></li>
			</ul>
		</div>
	</div>
</div>

<%}; include("commons/_layout.html",{body:body}){}%>
