<div class="footer">
	<div class="container">
		<div class="row">
			<ul>
				<li style="list-style: none;float: left">友情链接:</li>
				<% for(link in links){%>
				<li style="list-style: none;float: left;margin-right: 5px;padding: 2px 3px">
					<a href="${link.url}" style="color: red" target="_blank">${link.name}</a>
				</li>
				<%}%>
			</ul>

		</div>
		<div>
			<p style="float: left;">&copy Copyright 2016 - 2017.</p>
			<p style="float: right;">
				Any problem, Please <a href=mailto:1453860636@qq.com>Contact lxg</a>
			</p>
		</div>
	</div>
</div>