<% var body={%>

<div class="container">
	<div class="row">
	<div align="center">
	<h4 class="text-info">${contest.cid}</h4>
	<h2 class="text-info">${contest.title}</h2>
			开始时间:<span><strong class="text-error">${contest.startTime,"yyyy-MM-dd hh:mm:ss"}</strong>
				<br> 结束时间:<span><strong>${contest.endTime,"yyyy-MM-dd hh:mm:ss"}</strong>
			</span><br>
${contest.description}<br>
</div>
</div>
<div class="row">
		<div class="span12">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><strong class="text-info">题号</strong></td>
						<td><strong class="text-info">Problem Id</strong></td>
						<td><strong class="text-info">Title</strong></td>
					</tr>
				</thead>
				<% 
				var status=["A","B","C","D","E","F","G","H","I","J"];
				var tot=0;
				for(problem in problemList) {%>
				<tbody>
					<tr>
						<td>Problem  &nbsp;&nbsp;${status[tot++]}</td>
						<td><a href="${adminPath}/show/problem/${problem.pid}">${problem.pid}</a></td>
						<td><a href="${adminPath}/show/problem/${problem.pid}">${problem.title}

</a></td>
					</tr>
				</tbody>
				<%}%>
				</table>
			</div>
		</div>
</div>
<%}; include("_layout.html",{body:body}){}%>