<script type="text/javascript"
	src="${contentPath}/resources/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="${contentPath}/resources/angularjs/angular.min.js"></script>
<script type="text/javascript"
	src="${contentPath}/resources/js/pagination.js"></script>
<script type="text/javascript"
	src="${contentPath}/resources/js/script.js"></script>

<!--[if lt IE 9]>
      <script src="${contentPath}/resources/js/html5shiv.js"></script>
      <script src="${contentPath}/resources/js/json2.js"></script>
</script>
    <![endif]-->

<script type="text/javascript"
	src="${contentPath}/resources/bootstrap/js/bootstrap.min.js"></script>
<!--[if lte IE 6]>
    <script type="text/javascript" src="${contentPath}/resources/bootstrap/js/bootstrap-ie.js"></script>
    <script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			if ($.isFunction($.bootstrapIE6))
				$.bootstrapIE6($(document));
		});
	})(jQuery);
</script>
    <![endif]-->

