
<h2>Login In</h2>
<form class="form-horizontal" action="" method="post">
	<div class="control-group">
		<label class="control-label">Uesrname</label>
		<div class="controls">
			<input id="username" type="text" name="username" value="user"
				data-provide="typeahead" data-items="4"
				data-source="[&quot;Ahmedabad&quot;,&quot;Akola&quot;,&quot;Asansol&quot;,&quot;Aurangabad&quot;,&quot;Bangaluru&quot;,&quot;Baroda&quot;,&quot;Belgaon&quot;,&quot;Berhumpur&quot;,&quot;Calicut&quot;,&quot;Chennai&quot;,&quot;Chapra&quot;,&quot;Cherapunji&quot;]">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Password</label>
		<div class="controls">
			<input type="password" name="password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input class="btn btn-success" type="submit" value="Sign in">
		</div>
	</div>
</form>

